<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT Comments ANY>
<!ATTLIST Comments id ID #REQUIRED>
<!ELEMENT Component ANY>
<!ATTLIST Component id ID #REQUIRED>
<!ELEMENT Container ANY>
<!ATTLIST Container id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Like ANY>
<!ATTLIST Like id ID #REQUIRED>
<!ELEMENT Likes ANY>
<!ATTLIST Likes id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT Project ANY>
<!ATTLIST Project id ID #REQUIRED>
<!ELEMENT Projectedit ANY>
<!ATTLIST Projectedit id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1053" key="025b205f-8a07-46cb-97bd-9589fe719784" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-11-07T11:04:06" updateDate="2015-11-07T13:38:53" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Victor Vranceanu" writerName="alex" writerID="2" template="1051" nodeTypeAlias="Homepage">
    <title><![CDATA[Upgrade It]]></title>
    <motto><![CDATA[Upgrade it before you need to!]]></motto>
    <Projectedit id="1095" key="a6b6f19c-a0a7-4639-a271-16849c989f69" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-11-07T17:45:05" updateDate="2015-11-07T17:46:09" nodeName="Project Create" urlName="project-create" path="-1,1053,1095" isDoc="" nodeType="1094" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="1088" nodeTypeAlias="Projectedit">
      <title><![CDATA[Project Create]]></title>
    </Projectedit>
    <Projectedit id="1096" key="fd1fe409-2ce0-4819-a07a-0b08052c0cb1" parentID="1053" level="2" creatorID="0" sortOrder="1" createDate="2015-11-07T17:45:30" updateDate="2015-11-07T17:46:10" nodeName="Project Edit" urlName="project-edit" path="-1,1053,1096" isDoc="" nodeType="1094" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="1088" nodeTypeAlias="Projectedit">
      <title><![CDATA[Project Edit]]></title>
    </Projectedit>
    <Project id="1062" key="bc5f3f72-7090-4c56-874e-847ca3c7a962" parentID="1053" level="2" creatorID="0" sortOrder="2" createDate="2015-11-07T11:36:28" updateDate="2015-11-07T17:46:11" nodeName="Clean City" urlName="clean-city" path="-1,1053,1062" isDoc="" nodeType="1056" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[Clean City]]></title>
      <commentAllow>0</commentAllow>
      <isApproved>1</isApproved>
      <image><![CDATA[/media/1001/sql-nosql.jpg]]></image>
      <Comments id="1068" key="fc6d179a-911f-4a4a-83c4-b390b7096843" parentID="1062" level="3" creatorID="1" sortOrder="0" createDate="2015-11-07T10:34:56" updateDate="2015-11-07T10:34:56" nodeName="Comments" urlName="comments" path="-1,1053,1062,1068" isDoc="" nodeType="1067" creatorName="vjandrei" writerName="vjandrei" writerID="1" template="0" nodeTypeAlias="Comments">
        <Comment id="1072" key="dc566b87-cbb7-483e-8b39-c2488904b6bd" parentID="1068" level="4" creatorID="0" sortOrder="0" createDate="2015-11-07T15:12:45" updateDate="2015-11-07T16:33:02" nodeName="Cool" urlName="cool" path="-1,1053,1062,1068,1072" isDoc="" nodeType="1058" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="0" nodeTypeAlias="Comment">
          <title><![CDATA[Cool]]></title>
          <text><![CDATA[Mega cool project]]></text>
          <author>1063</author>
        </Comment>
      </Comments>
      <Likes id="1069" key="db4f707c-eec2-4e8f-8818-a0e267b191f3" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2015-11-07T14:29:48" updateDate="2015-11-07T14:29:48" nodeName="Likes" urlName="likes" path="-1,1053,1062,1069" isDoc="" nodeType="1066" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="0" nodeTypeAlias="Likes">
        <Like id="1070" key="fbfa042a-d311-45e3-aeaf-0c45204aeaf7" parentID="1069" level="4" creatorID="0" sortOrder="0" createDate="2015-11-07T14:30:40" updateDate="2015-11-07T14:30:40" nodeName="Like" urlName="like" path="-1,1053,1062,1069,1070" isDoc="" nodeType="1061" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="0" nodeTypeAlias="Like">
          <author>1063</author>
        </Like>
      </Likes>
    </Project>
    <Project id="1071" key="1ef23a96-80f5-4b09-9209-fbf523ac8626" parentID="1053" level="2" creatorID="1" sortOrder="3" createDate="2015-11-07T13:00:38" updateDate="2015-11-07T17:46:12" nodeName="City SDK" urlName="city-sdk" path="-1,1053,1071" isDoc="" nodeType="1056" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[Timisoara's SDK]]></title>
      <commentAllow>1</commentAllow>
      <isApproved>1</isApproved>
      <image><![CDATA[/media/1050/logo_citysdk.jpg]]></image>
      <description><![CDATA[Open API to access real time and updated public data related to city traffic, POIs, events, alerts, available private & public resources ...]]></description>
      <area><![CDATA[Centru]]></area>
      <projectType><![CDATA[IT]]></projectType>
    </Project>
    <Project id="1073" key="6d5947dc-953e-4e6a-a059-6f3e7e8ca117" parentID="1053" level="2" creatorID="1" sortOrder="4" createDate="2015-11-07T13:21:07" updateDate="2015-11-07T17:46:14" nodeName="Build InTimisoara" urlName="build-intimisoara" path="-1,1053,1073" isDoc="" nodeType="1056" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[See what my neighbour is building]]></title>
      <commentAllow>1</commentAllow>
      <isApproved>1</isApproved>
      <image><![CDATA[/media/1051/images.png]]></image>
      <description><![CDATA[Aplicatie web si/sau mobila cu ajutorul careia poti afla cine si ce construieste in Timis(oara).]]></description>
      <area><![CDATA[Centru]]></area>
      <projectType><![CDATA[IT]]></projectType>
    </Project>
    <Project id="1074" key="2c194c19-c3a0-4820-8bce-b11eade723d7" parentID="1053" level="2" creatorID="1" sortOrder="5" createDate="2015-11-07T13:23:27" updateDate="2015-11-07T17:46:15" nodeName="Localize IT" urlName="localize-it" path="-1,1053,1074" isDoc="" nodeType="1056" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[Localize around me]]></title>
      <commentAllow>1</commentAllow>
      <isApproved>0</isApproved>
      <image><![CDATA[/media/1052/download.jpg]]></image>
      <description><![CDATA[GIS Open Service for public and private usage]]></description>
      <area><![CDATA[Centru]]></area>
      <projectType><![CDATA[IT]]></projectType>
    </Project>
    <Project id="1075" key="e7239b78-4161-4e83-89e3-4d5a63ed98a4" parentID="1053" level="2" creatorID="1" sortOrder="6" createDate="2015-11-07T13:28:15" updateDate="2015-11-07T17:46:16" nodeName="My City" urlName="my-city" path="-1,1053,1075" isDoc="" nodeType="1056" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[City Resources]]></title>
      <commentAllow>1</commentAllow>
      <isApproved>1</isApproved>
      <image><![CDATA[/media/1053/community-resources.jpg]]></image>
      <description><![CDATA[City Resources provide visibility through an open API to local private and public resources like venues]]></description>
      <area><![CDATA[Soarelui]]></area>
      <projectType><![CDATA[IT]]></projectType>
      <Likes id="1077" key="3d4dc3fa-61dd-4b20-873e-aec3ce703d72" parentID="1075" level="3" creatorID="1" sortOrder="0" createDate="2015-11-07T14:18:10" updateDate="2015-11-07T16:31:48" nodeName="Likes" urlName="likes" path="-1,1053,1075,1077" isDoc="" nodeType="1066" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="0" nodeTypeAlias="Likes">
        <Like id="1083" key="54feef6f-f4ae-4b6e-9e6b-a2c424790eab" parentID="1077" level="4" creatorID="0" sortOrder="0" createDate="2015-11-07T16:30:54" updateDate="2015-11-07T16:30:54" nodeName="Like" urlName="like" path="-1,1053,1075,1077,1083" isDoc="" nodeType="1061" creatorName="Victor Vranceanu" writerName="Victor Vranceanu" writerID="0" template="0" nodeTypeAlias="Like">
          <author>1063</author>
        </Like>
      </Likes>
    </Project>
    <Project id="1076" key="47b81a9e-8b98-4627-94d4-ffa9895a0bb1" parentID="1053" level="2" creatorID="1" sortOrder="7" createDate="2015-11-07T13:30:03" updateDate="2015-11-07T17:46:18" nodeName="Quick PoCo" urlName="quick-poco" path="-1,1053,1076" isDoc="" nodeType="1056" creatorName="vjandrei" writerName="Victor Vranceanu" writerID="0" template="1055" nodeTypeAlias="Project">
      <title><![CDATA[Quick Postal Codes]]></title>
      <commentAllow>1</commentAllow>
      <isApproved>0</isApproved>
      <image><![CDATA[/media/1054/cp.png]]></image>
      <description><![CDATA[Find quickly and without internet access the postal code that you are looking for, based on this dataset: http://data.gov.ro/dataset/coduri-postale-romania]]></description>
      <area><![CDATA[Centru]]></area>
      <projectType><![CDATA[IT]]></projectType>
    </Project>
  </Homepage>
</root>